

.main-section {
    height: 90vh;
    position: relative;
    isolation: isolate;
}
.main-section .intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 2;
}
.main-section .intro {
    height: 100%;
    text-align: center;
    max-width: 500px;
    margin: auto;

}
.main-section .intro .title {
    color: #fff;
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-family: 'Abril Fatface'

}
.main-section .intro .title {
    color: #fff;
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Abril Fatface';
    
}
.main-section .intro .description {
    color: #efefef;
    line-height: 1.8;
} 
.main-section .intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-section .intro .btn-product {
    background-color: transparent;
    color: #fff;
    padding: 1rem 3rem;
    text-transform: uppercase;
    width: 200px;
    margin: 0px auto;
    border: 1px solid #ccc;
    transition: all 0.8s;
}
.main-section .intro .btn-product:hover {
    background-color: #5a9b68;

}
.main-section .carousel-item {
    position: relative;
}
.main-section .carousel-item img {
    height: 88vh;
    object-fit: cover;
    object-position: center;
}
.main-section .carousel-item::after {
    content: "";
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}